<nav class="navbar navbar-expand-md navbar-light" lang="en" style="background-color: #e3f2fd;"
     xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" th:href="@{/products}">Store</a>
            <a class="nav-link" th:href="@{/categories}">Categories</a>
            <a class="nav-link" th:href="@{/cart}">Cart</a>
            <div sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">Login</a></div>
            <div sec:authorize="isAuthenticated()"><a class="nav-link"
                                                      th:href="@{'/users/'+${#authentication.getPrincipal().getUserId()}}">Profile</a>
            </div>
            <div sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Logout</a></div>
        </div>
        <form action="/search" class="form-inline my-2 my-lg-0" method="get">
            <input aria-label="Search" class="form-control mr-sm-2" name="name" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>
<br>