<nav th:fragment="frag (items, link)" xmlns:th="http://www.thymeleaf.org">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled" th:if="${!items.hasPrevious()}">
            <a aria-disabled="true" class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item" th:if="${items.hasPrevious()}">
            <a class="page-link" th:href="@{'/'+${link}(size=${items.pageable.pageSize},
								sort=${items.pageable.sort.empty} ? '' : ${items.pageable.sort.toString().replace(': ',',')},
								page=${items.pageable.pageNumber}-1)}">Previous</a>
        </li>


        <li class="page-item disabled" th:if="${!items.hasNext()}">
            <a aria-disabled="true" class="page-link" href="#" tabindex="-1">Next</a>
        </li>
        <li class="page-item" th:if="${items.hasNext()}">
            <a class="page-link" th:href="@{'/'+${link}(size=${items.pageable.pageSize},
								sort=${items.pageable.sort.empty} ? '' : ${items.pageable.sort.toString().replace(': ',',')},
								page=${items.pageable.pageNumber}+1)}">Next</a>
        </li>
    </ul>
</nav>