<div class="container" th:fragment="frag(title)" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col">
            <form class="form-signin" method="post" th:action="@{__${#httpServletRequest.requestURI}__}">
                <h2 class="form-signin-heading" th:text="${title}"></h2>
                <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
                <div class="row">
                    <div class="col">
                        <input class="form-control" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="col">
                        <input class="form-control" name="email" placeholder="Email" type="email">
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Recover</button>
            </form>
        </div>
    </div>
</div>