* {
    font-family: arial, serif;
}

.navbar {
    background-color: #ebf2f2;
}

.sorting {
    font-size: 14px;
}

.product-info {
    font-size: larger;
}

.product-quantity-range {
    width: 25%;
}

.github-oauth2 {
    display: flex;
    align-items: center;
}

.github-oauth2 i {
    background: url("/GitHub-Mark-32px.png") left no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    margin-right: 20px;
}