<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headers :: common_header(~{::title})">
    <title>Cart</title>
</head>

<body>
<div th:insert="fragments/navbar.html"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Cart</h3>
            <br>
            <div class="alert alert-warning" role="alert" th:if="${notEnoughStockError}"
                 th:text="${notEnoughStockError}"></div>
            <table class="table table-hover" th:if="${!shoppingCart.itemsList.empty}">
                <thead th:replace="fragments/table_head :: head('Product','Quantity of Products','Price','Remove')">
                <tbody>
                <tr th:each="item: ${shoppingCart.itemsList}">
                    <td>
                        <a th:href="@{'/products/' + ${item.key.id}}"
                           th:text="${item.key.name}"></a>
                    </td>
                    <td th:text="${item.value}"></td>
                    <td th:text="${item.value*item.key.price}+'€'"></td>
                    <td>
                        <form method="post" th:action="@{/cart}">
                            <button class="btn btn-danger">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <input name="id" th:value="${item.key.id}" type="hidden">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sum:</td>
                    <td th:text="${shoppingCart.sum}+'€'"></td>
                </tr>
                </tbody>
            </table>
            <form method="get" th:if="${!shoppingCart.itemsList.empty}">
                <button class="btn btn-primary" formaction="/checkout">Checkout</button>
                <button class="btn btn-secondary" formaction="/products">Cancel</button>
            </form>
            <p th:if="${shoppingCart.empty}">Shopping Cart is empty</p>
        </div>
    </div>
</div>
</body>

</html>