<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers :: common_header(~{::title})"><title>Please sign in</title>
</head>
<body style="font-family: Arial">
<div th:insert="fragments/navbar.html"></div>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">Invalid credentials or user is not enabled</div>
    <div class="alert alert-danger" role="alert" th:if="${unauthenticated}" th:text="${unauthenticated}"></div>
    <div class="alert alert-success" role="alert" th:if="${param.logout}">You have been successfully logged out.</div>
    <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
    <div class="row">
        <div class="col col-md-4"></div>
        <div class="col col-md-4">
            <form action="/login" class="form-signin" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <p>
                    <label class="sr-only" for="username">Username</label>
                    <input autofocus class="form-control" id="username" name="username" placeholder="Username"
                           required type="text">
                </p>
                <p>
                    <label class="sr-only" for="password">Password</label>
                    <input class="form-control" id="password" name="password" placeholder="Password" required
                           type="password">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4"></div>
        <div class="col col-md-3"><a th:href="@{/recover/password/}">Recover password</a></div>
        <div class="col col-md-3"><a th:href="@{/register}">Register</a></div>
    </div>
</div>
</body>
</html>