<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers :: common_header(~{::title})">
    <title>Choose a new password</title>
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <form class="form-signin" method="post" th:object="${user}">
                <h2 class="form-signin-heading">Enter new password</h2>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}"
                               placeholder="Password">
                        <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>