<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers :: common_header(~{::title})">
    <title th:text="'Orders of '+ ${user.username}"></title>
</head>
<body style="font-family: Arial">
<div th:insert="fragments/navbar.html"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Orders</h2>
            <table class="table table-hover" th:if="${!orders.empty}">

                <thead th:replace="fragments/table_head :: head('#','Order','Items',~{})"></thead>
                <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${orderStat.count}"></td>
                    <td>
                        <a th:href="@{'/user/orders/'+ ${order.id}}"
                           th:text="${order.id}"></a>
                    </td>
                    <td th:text="${order.items.size()}+' items'"></td>
                </tr>
                </tbody>
            </table>
            <div th:insert="fragments/pagination.html::frag (${orders})"></div>

            <p th:if="${orders.empty}">No orders found.</p>
        </div>
    </div>
</div>
</body>
</html>