<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="headers :: common_header(~{::title})">
    <title th:text="'Order '+${order.id}"></title>
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 th:text="'Order #' + ${order.id}"></h2>
            <table th:if="${!order.items.empty}" class="table table-hover">
                <div th:replace="table_head :: head('#','Item','Quantity',~{})"></div>
                <tbody>
                <tr th:each="item: ${order.items}">
                    <td th:text="${itemStat.count}"></td>
                    <td>
                        <a th:href="@{'/products/' + ${item.product.id}}" th:text="${item.product.name}"></a>
                    </td>
                    <td th:text="${item.quantity}+' ordered'"></td>
                </tr>
                </tbody>
            </table>

            <p th:if="${order.items.empty}">No products found.</p>
        </div>
    </div>
</div>
</body>
</html>