<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="headers :: common_header(~{::title})"><title>Register new user</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container">
    <h2>Register new User</h2>
    <br>
    <div class="alert alert-danger" role="alert" th:if="${userAlreadyExists}" th:text="${userAlreadyExists}"></div>
    <div class="row">
        <div class="col">
            <form method="post" th:action="@{/register}">
                <div class="form-row" th:object="${user}">
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" th:field="*{username}"
                               placeholder="Username">
                        <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}"
                               placeholder="Password">
                        <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                </div>
                <div class="form-row" th:object="${userInfo}">
                    <div class="form-group col-md-4">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName" th:field="*{firstName}"
                               placeholder="First name">
                        <div class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName" th:field="*{lastName}"
                               placeholder="Last name">
                        <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" th:field="*{email}"
                               placeholder="Email">
                        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-md-3"><a th:href="@{/recover/activationEmail/}">Resend activation email</a></div>
    </div>
</div>

</body>
</html>